.report {
  padding: 20px;
  padding-bottom: 40px;
}

.report:last-child {
  padding-bottom: 10px;
}

.report__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.report__title {
  margin: 0;
}

.report__row {
  margin-top: 10px;
}

.report__row--sub {
  margin-top: 10px;
  color: lightgray;
  font-size: .8rem;
  font-weight: 300;
}

.report__label {
  margin-right: 5px;
}

.report__value {
  font-weight: 300;
}

.report__value--indented {
  margin-top: 10px;
  margin-left: 20px;
}

.report__value--sub {
  display: inline-block;
  color:gray;
  font-weight: 300;
  font-size: .8rem;
}

.report__value--end {
  padding-left: 40px;
  text-align: end;
  position: absolute;
  float: right;
}

.report__comments {
  white-space: pre-wrap;
}
